{deps, [
{hdr_histogram,".*",{git,"https://github.com/HdrHistogram/hdr_histogram_erl","master"}},{ecoap_common,".*",{git,"https://Xdeon@bitbucket.org/Xdeon/ecoap_common.git","dev"}}
]}.
{erl_opts, [report,verbose,warn_deprecated_function,warn_deprecated_type,warn_untyped_record,warn_unused_import]}.
