{deps, [
{hdr_histogram,".*",{git,"https://github.com/HdrHistogram/hdr_histogram_erl","master"}},{ecoap,".*",{git,"https://Xdeon@bitbucket.org/Xdeon/ecoap.git","functional_core"}}
]}.
{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard,report,verbose,warn_deprecated_function,warn_deprecated_type,warn_untyped_record,warn_unused_import]}.
